[project]
	description = Eclipse plugins for editing, bug tracking, and version control of U.S. legislative documents.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/One230k
[access "refs/for/refs/*"]
	read = group One230k
	read = group user/One230k
	push = group One230k
	push = group user/One230k
	label-Code-Review = -2..+2 group One230k
	label-Code-Review = -2..+2 group user/One230k
	label-Verified = -1..+1 group One230k
	label-Verified = -1..+1 group user/One230k
	rebase = group One230k
	rebase = group user/One230k
	removeReviewer = group One230k
	removeReviewer = group user/One230k
	submit = group One230k
	submit = group user/One230k
[access "refs/heads/*"]
	read = group One230k
	read = group user/One230k
	create = group user/One230k
	push = +force group user/One230k
	pushMerge = group user/One230k
[access "refs/tags/*"]
	push = group user/One230k
	push = +force group user/One230k
